@font-face {
    font-family: 'SBAggroB';
    src: url('@/assets/font/SB_Window_Font/SB 어그로 M.ttf') format('woff');
}
@font-face {
    font-family: 'SBAggroL';
    src: url('@/assets/font/SB_Window_Font/SB 어그로 L.ttf') format('woff');
}
@font-face {
    font-family: 'SBAggroB';
    src: url('@/assets/font/SB_Window_Font/SB 어그로 B.ttf') format('woff');
}