:root {
  --main: #00B8FF;
  --main-soft-1: #C2E7FF;
  --main-soft-2: #d8e6ef;
  --main-mute-1: #F3F6FC;
  --main-mute-2: #FBFCFF;

  --main-success: #1A73E8;
  --main-success-dark: #174EA6;
  --main-error-1: #D93025;
  --main-error-2: #F69892;

  --main-black: #202124;
  --main-black-soft: #5F6368;
  --main-gray-1: #7C7C7C;
  --main-gray-2: #BBBABA;
  --main-gray-3: #CACACA;

  --main-white: #fff;

  --alert-blue: #438bff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
